.news {
  @include flex-column;
  gap: 24px;

  @include iPad {
    margin-top: 70px;
  }

  @include mobile {
    margin-top: 49px;
  }

  &__title {
    @include h2;
  }

  &__content {
    display: flex;
    gap: 32px;

    @include onDesktop {
      gap: 24px;
    }

    @include tablet {
      gap: 16px;
    }

    @include iPad {
      gap: 16px;
      padding-bottom: 16px;
      overflow-x: scroll;
    }

    @include mobile {
      gap: 24px;
      padding-bottom: 24px;
      overflow-x: scroll;
    }
  }

  &__newBlock {
    position: relative;
    @include flex-column;
    flex: 0 1 calc((100% - 32px * (4 - 1)) / 4);
    gap: 16px;
    cursor: pointer;
    z-index: 2;
    transition: all 0.3s ease;

    &:hover {
      box-shadow: -7px 7px 7px $blue;
    }

    @include iPad {
      width: 224px;
      flex: 1 0 auto;
    }

    @include mobile {
      width: 288px;
      flex: 1 0 auto;
    }
  }

  &__info {
    @include flex-column;
    gap: 4px;
    padding: 0 24px 22px;

    @include onDesktop {
      padding: 0 24px 24px;
    }

    @include tablet {
      padding: 0 16px 28px;
    }
  }

  &__imgBlock {
    width: 100%;
    height: 232px;
    object-fit: cover;
  }

  &__titleBlock {
    @include h3;
    font-size: 16px;
    line-height: 125%;
  }

  &__contentBlock {
    font-size: 16px;
    line-height: 125%;

    @include tablet {
      font-size: 14px;
    }

    @include iPad {
      font-size: 14px;
    }
  }
}
